<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Proxibanque</display-name>
  
  
	<welcome-file-list>
		<!-- Page d'accueil protégée -->
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!--   Ajouts de Kévin pour la sécurité JAAS -->
	<security-constraint>
		<display-name>Authentification sur Tomcat</display-name>
		<web-resource-collection>
			<web-resource-name>Pages sécurisées du conseiller</web-resource-name>
			<url-pattern>/conseiller/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>conseiller</role-name>
			<role-name>gerant</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Authentification des gérants sur Tomcat</display-name>
		<web-resource-collection>
			<web-resource-name>Pages sécurisées du gérant</web-resource-name>
			<url-pattern>/gerant/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>gerant</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Authentification des gérants sur Tomcat</display-name>
		<web-resource-collection>
			<web-resource-name>Pages sécurisées des employés</web-resource-name>
			<url-pattern>/employe/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>gerant</role-name>
			<role-name>conseiller</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Espace conseiller</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/erreur.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<description>Conseiller</description>
		<role-name>conseiller</role-name>
	</security-role>

	<security-role>
		<description>Gerant</description>
		<role-name>gerant</role-name>
	</security-role>

	<error-page>
		<error-code>403</error-code>
		<location>/erreur403.xhtml</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/erreur.xhtml</location>
	</error-page>
	


  
  
  
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>cupertino</param-value>
  </context-param>
  
  <listener>
    <listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
  </listener>
  
  <listener>
    <listener-class>
		org.springframework.web.context.request.RequestContextListener
	</listener-class>
  </listener>
  
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  
   	<context-param>
 		<param-name>primefaces.FONT_AWESOME</param-name>
 		<param-value>true</param-value>
 	</context-param>
 	
  <servlet>
    <servlet-name>facesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>facesServlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>facesServlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
</web-app>